@font-face {
  font-family: "iconfont"; /* Project id 5120615 */
  src: url('iconfont.woff2?t=1769764728039') format('woff2'),
       url('iconfont.woff?t=1769764728039') format('woff'),
       url('iconfont.ttf?t=1769764728039') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bi:before {
  content: "\e608";
}

.icon-good:before {
  content: "\e62a";
}

