/* 弹窗样式 */
.van-toast {
    opacity: 1 !important;
    border-radius: 0.26rem !important;
    background: rgba(73, 73, 73, 1) !important;
    padding: 0.24rem 0.24rem 0.22rem 0.25rem !important;
}

.van-toast__text {
    font-size: 0.48rem !important;
    font-weight: 400 !important;
    letter-spacing: 0px !important;
    line-height: 0.65rem !important;
    color: rgba(255, 255, 255, 1) !important;
    text-align: center !important;
}

.van-toast__icon {
    display: none !important;
}